argh==0.26.2
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.6.16
cffi==1.7.0
chardet==3.0.4
decorator==4.0.11
ffmpeg-python==0.2.0
future==0.17.1
humanize==0.5.1
idna==2.8
pathtools==0.1.2
pbr==5.4.2
pycparser==2.19
pycurl==7.43.0.2
pygame==1.9.6
pypiwin32==223
PySide2==5.13.0
python-libmagic==0.4.0
python-magic==0.4.15
pywin32==301
PyYAML==5.1.2
requests==2.22.0
shiboken2==5.13.0
sip==4.19.8
six==1.12.0
soupsieve==1.9.2
SQLAlchemy==1.3.6
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
Tempita==0.5.2
urllib3==1.25.3
watchdog==0.9.0
